<body>
  <div class="pokedex">
    <div class="right-container">
      <div class="right-container__black">
        <div class="right-container__screen">
          <div
            class="list-item"
            *ngFor="let pokes of finalArray, let i = index"
            (click)="pokeClickId(i)"
          >
            {{ pokes.name }}
          </div>
        </div>
      </div>
      <div class="right-container__buttons">
        <div class="left-button">Prev</div>
        <div class="right-button">Next</div>
      </div>
    </div>
  </div>
</body>
