<body>
  <div class="pokedex">
    <div class="right-container">
      <div class="right-container__black">
        <div class="right-container__screen">
          <div
            class="list-item"
            *ngFor="let pokes of finalArray; let i = index"
            (click)="pokeClickId(i)"
          >
            {{ pokes.name }}
          </div>
        </div>
      </div>
      <div class="right-container__buttons">
        <button
          class="left-button"
          (click)="prevBtn()"
          [disabled]="prevUrl === null"
        >
          Prev
        </button>
        <div class="right-button" (click)="nextBtn()">Next</div>
      </div>
    </div>
    <div class="row">
      <div class="list-item" *ngFor="let poke of savedArray; let i = index">
        {{ poke.name }}
        {{ poke.height }}
        {{ poke.weight }}
        <button class="btn-btn primary" (click)="savePoke(i)">
          Save this poke!
        </button>
        <button class="btn-btn danger" (click)="deletePoke()">
          Delete this poke!
        </button>
      </div>
    </div>
  </div>
</body>
