<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="pokedex">
          <div class="right-container">
            <div class="right-container__black">
              <div class="right-container__screen">
                <div
                  *ngFor="let pokes of finalArray; let i = index"
                  class="list-item"
                  (click)="pokeClickId(i)"
                >
                  {{ pokes.name }}
                </div>
              </div>
            </div>
            <div class="right-container__buttons">
              <button
                class="left-button"
                (click)="prevBtn()"
                [disabled]="prevUrl === null"
              >
                Prev
              </button>
              <button
                class="right-button"
                (click)="nextBtn()"
                [disabled]="nextUrl === null"
              >
                Next
              </button>

              <button routerLink="/poke-favs">Favorites</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div *ngIf="showStats">
              <p><b>Name:</b> {{ descData.name }}</p>
              <p class="{{ descData.types }}">
                <b>Type:</b> {{ descData.types }}
              </p>
              <p><b>Weight:</b> {{ descData.weight }}</p>
              <p><b>Height:</b> {{ descData.height }}</p>
              <p><b>Abilities</b> {{ descData.abilities }}</p>
              <img src="{{ descData.sprite }}" alt="" />
              <button
                class="save-button"
                (click)="saveFavPoke(descData.name)"
                *ngIf="isPokeFav"
              >
                Add to Favorites
              </button>
            </div>
          </div>
          <div class="col-md-3" *ngFor="let user = userArray">
            <h1>{{ user }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
